@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');



.card__wrapper {
    width: 400px;
    max-height: 300px;
    background-color: var(--wrapper-color);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;

    overflow: hidden;
}

.card__content {
    margin: 20px;
    display: flex;
    height: 260px;
    row-gap: 20px;
    flex-direction: column;
    column-gap: 0px;
}

.temperature {
    display: flex;
    flex-direction: column;
}

.temperature--degrees {
    display: inline-block;
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 117px;
    margin: 0;
}

.card__row {
    display: flex;
    flex-direction: row;
}

.temperature--day {
    margin: 0;
    color: var(--h1-text);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

.day-card-icon {
    width: 119px;
    height: 119px;
    margin-left: auto;
}

.location-info p + p{
    margin-top: 14px;
}


.location-info p {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #939CB0;
}

.location-info {
    margin-top: auto;
}

@media screen and (max-width: 620px) {
    .temperature--day {
        font-size: 30px;
        margin-right: 40px;
    }
    
    .day-card-icon {
        width: 100px;
        height: 100px;
        margin-left: auto;
    }

    .temperature--degrees {
        font-size: 80px;
    }

    .location-info p {
        font-size: 20px;
    }

    .location-info p + p{
        margin-top: 5px;
    }

    .location-info {
        margin-top: 10px;
    }
}


@media screen and (max-width: 955px) {
    .card__wrapper {
        flex-grow: 1;
    }
}






