.first {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--wrapper-color);
}
.second {
    border-radius: 10px;
    width: 750px;
    height: 300px;
    background-color: var(--wrapper-color);
}

.skeleton__container {
    column-gap: 50px;
    display: flex;
    margin-bottom: 30px;
}