
.container-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    row-gap: 10px;
    margin: 20px auto 30px auto;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-right: auto;
}

.logo p {
    order: 3;
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}

.dark-mode-btn { 
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    cursor: pointer;
    border: none;
}


.select__group {
    position: relative;
    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

.spinner svg {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 620px) {
    .logo p {
        font-size: 20px;
        width: 120px;
    }

    .logo img {
        width: 45px;
        height: 45px;
    }

    .dark-mode-btn {
        order: 0;
    }
}



